body {
  margin: 0;

  background-color: white;
  font-family: Outfit, -apple-system, Roboto, sans-serif, serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
