.bannerContainer {
  background-image: url(../images/is-cp-for-me/Page\ Images.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 80vh;
}

.bannerTitleContainer h1 {
  font-size: 4em;
  letter-spacing: 0.5em;
}

.tableQns {
  border-collapse: collapse;
}
.tableQns td {
  width: 30%;
  padding: 20px;
  border: 1px solid black;
  border-left: 0;
  border-top: 0;
}
.tableQns td:last-child {
  border-right: 0;
}
.tableQns tr:last-child td {
  border-bottom: 0;
}

.tableQnGray {
  font-family: Rubik Dirt;
  color: #4b4b4a;
}
.tableQnOrange {
  font-family: Rubik Dirt;
  color: #d6a542;
}

.leadersImmersionProgramSection {
  position: relative;

  background-image: url(../images/is-cp-for-me/Page\ Images6.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 80vh;

  padding: 20px;
}

.leadersImmersionProgramSection_Text1 {
  width: 80%;
}

.leadersImmersionProgramSection_Text2 {
  width: 70%;
}
