.bannerContainer {
  background-image: url(../images/leaders-immersion-program/Gibson\ Images12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 80vh;
}

.bannerTitleContainer h1 {
  font-size: 4em;
  letter-spacing: 0.5em;
  color: white;
}

.whatWillIReceiveCPLeaderContainer {
  background-image: url(../images/leaders-immersion-program/Gibson\ Images9.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.whatWillIReceiveCPLeaderContainerCol {
  padding-left: 30%;
}

@media (max-width: 768px) {
  .whatWillIReceiveCPLeaderContainer {
    background-image: none;
  }
  .whatWillIReceiveCPLeaderContainerCol {
    padding-left: 0;
  }
}

.whatWillIContributeCPLeaderContainer {
  background-image: url(../images/leaders-immersion-program/Gibson\ Images8.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.whatWillIContributeCPLeaderContainerCol {
  padding-right: 30%;
}

@media (max-width: 768px) {
  .whatWillIContributeCPLeaderContainer {
    background-image: none;
  }
  .whatWillIContributeCPLeaderContainerCol {
    padding-right: 0;
  }
}
