.bannerContainer {
  background-image: url(../images/leaders-immersion-program/Gibson\ Images12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 80vh;
}

.bannerTitleContainer h1 {
  font-size: 4em;
  letter-spacing: 0.5em;
  color: white;
}
