.btn {
  font-family: "Rubik Dirt";
  font-weight: 400;
  color: #ca4037;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  outline: 0px solid #ca4037;
  border: 0;
  border-radius: 5px;

  cursor: pointer;

  padding: 10px;
  background: none;
}

.btn:hover {
  outline-width: 2px;
}
