.h1Red {
  font-family: Rubik Dirt;
  font-weight: 600;
  color: #ca4037;
  text-transform: uppercase;

  letter-spacing: 0.5em;
}

.h1Orange {
  font-family: Rubik Dirt;
  font-weight: 600;
  color: #d6a542;
  text-transform: uppercase;

  letter-spacing: 0.5em;
}

.grayText {
  color: #4a4845;
}

.divider {
  height: 1px;
  background-color: #818786;
}

.whiteText {
  color: white;
}

.row {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  max-width: 992px;
}

.rowNonFlex {
  display: block;
  margin: 0 auto;
  padding: 20px;
  max-width: 992px;
}

.col {
  flex: 1;
}
